
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

div.narrative

  position absolute
  left 30px
  top 0
  padding 1em

  background rgba(34, 75, 127, 0.85)
  color white

  font-family Raleway
  font-weight 100
  font-size 10px

  .title
    font-weight 700

  .stanza
    margin-top 1em

  [data-neatline-slug]
    padding 0
    background transparent

    &.highlighted, &.selected
      font-weight 700
