
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


@import url("http://fonts.googleapis.com/css?family=Lustria")

body.neatline.show
  font-family Lustria
  font-size 12px

#neatline-narrative
  width 340px

  p
    line-height 20px

  h1, h3
    margin 0

  [data-neatline-slug]
    background transparent
    padding 0

    &.highlighted
      background #ffffa9

    &.selected
      background #0080bb
