
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300")
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400")
@import "nprogress/nprogress.css"

$link-color = #fff4bc
$background-color = rgba(0, 111, 156, 0.8)
$text-color = darken(white, 5%)
$text-width = 400px

*

  box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box

  ::selection
    background $link-color
    color white

body

  font-size 14px
  margin 0

  background darken(white, 0.5%)
  font-family "Roboto Condensed"
  font-weight 300

  a, a:visited

    color $link-color
    font-weight 400

div.exhibit

  float left
  width 1px // OL needs width on container at startup...
  z-index 0

  #neatline, #neatline-map
    height 100%
    width 100%

div.narrative

  position absolute
  overflow-y scroll
  width $text-width
  padding 0em 2em
  z-index 1

  background-color $background-color
  color $text-color

  h1
    font-family Oswald
    font-size 3em
    font-weight normal
    margin-top 0.4em

header
  margin-top 2em
  font-size 12px

div.bubble.static

  background-color $background-color
  color $text-color
  font-family Oswald
  opacity 1

  &.selected
    opacity 1

#nprogress

  .bar
    background white
    height 4px

  .peg
    box-shadow 0 0 10px white, 0 0 5px white
