
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic")

body
  font-family "Source Sans Pro"
  margin 0

#navigation
  position fixed
  left 40px
  bottom 40px
  background-color rgba(30,30,30,0.9)
  color white
  padding 1em
  font-size 14px
  font-weight 200
  border-radius 2px

  h1
    margin 0 0 5px 0
    font-weight 300
    font-size 3em

  span.dot
    margin 0 0.4em

  a
    color white

#nprogress
  .bar
    background white
    height 5px
  .peg
    box-shadow 0 0 10px white, 0 0 5px white
