
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

// Fonts:
@import url("//fonts.googleapis.com/css?family=IM+Fell+French+Canon")
@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700")
@import url("//fonts.googleapis.com/css?family=Roboto+Condensed:400,300")

// Fontawesome:
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")

// Vendor:
@import "bootstrap/dist/css/bootstrap.css"
@import "css-spinners/css/spinner/three-quarters.css"
@import "nprogress/nprogress.css"

// Vars:
$body-font    = "IM Fell French Canon"
$bg-color     = rgba(250, 250, 250, 0.9)
$union        = #1b599a
$confederate  = #9E4141
$text-color   = lighten(black, 5%)
$text-width   = 400px

@import "mixins"
@import "includes/*"
