
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

// Fonts:
@import url("http://fonts.googleapis.com/css?family=IM+Fell+French+Canon")
@import url("http://fonts.googleapis.com/css?family=Inconsolata:400,700")

// Vendor:
@import "bootstrap/dist/css/bootstrap.css"
@import "css-spinners/css/spinner/three-quarters.css"
@import "nprogress/nprogress.css"

// Vars:
$link-color   = #1b599a
$bg-color     = rgba(250, 250, 250, 0.9)
$body-font    = "IM Fell French Canon"
$text-color   = lighten(black, 5%)
$text-width   = 400px

@import "mixins"
@import "includes/*"
