
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

// Fonts:
@import url("http://fonts.googleapis.com/css?family=EB+Garamond")
@import url("http://fonts.googleapis.com/css?family=IM+Fell+French+Canon")
@import url("http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700")

// Vendor:
@import "bootstrap/dist/css/bootstrap.css"
@import "css-spinners/css/spinner/three-quarters.css"
@import "nprogress/nprogress.css"

// Vars:
$link-color = rgba(118, 94, 99, 1)
$bg-color   = rgba(245, 245, 245, 0.9)
$body-font  = "IM Fell French Canon"
$text-color = lighten(black, 5%)
$text-width = 400px

@import "mixins"
@import "includes/*"
