
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

div.bubble.static

  position fixed
  right 20px
  left auto

  overlay-container();
  font-size 0.6em

  &.selected
    opacity 1
