
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

div.narrative

  position absolute
  overflow-y scroll
  padding 2em 3em
  width $text-width
  left 40px
  z-index 1

  overlay-container()

  p, li
    font-size 18px

  hr
    border-top 1px solid lighten(black, 80%)

  [data-neatline-slug]
    clickable()

  // TEXT
  .declaration

    h2, h3
      text-align center

    .title
      font-size 36px

    .subtitle
      font-size 20px

      span
        display block
        margin-bottom 8px
        font-size 16px

        &.big
          font-size 34px

    ul
      padding-left 2em

    p.divider
      text-align center

    li
      margin-bottom 0.5em

  // SIGNATURES
  .signers

    [data-neatline-slug], button
      clickable()
      border-radius 2px
      padding 2px

    ul.state

      li
        margin 10px 0

      ul.links
        padding 0

        li
          display inline

          &:not(:last-child):after
            content " •"
            font-size 14px

          button
            font-size 13px

            &:focus
              outline none

            i
              font-size 12px

      &.confederate

        button
          color $confederate

        [data-neatline-slug].selected
          color darken(white, 5%)
          background $confederate

      &.union

        button
          color $union

        [data-neatline-slug].selected
          color darken(white, 5%)
          background $union
