
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

div.narrative

  position absolute
  overflow-y scroll
  padding 2em 3em
  width $text-width
  left 40px
  z-index 1

  overlay-container()

  p, li
    font-size 18px

  hr
    border-top 1px solid lighten(black, 80%)

  [data-neatline-slug]
    padding 2px 0
    background transparent
    cursor pointer

    &.highlighted
      background darken(white, 20%)

    &.selected
      background lighten(black, 30%)
      color darken(white, 5%)

      &.confederate
        background $confederate

      &.union
        background $union

  .declaration

    h2, h3
      text-align center

    .title
      font-size 36px

    .subtitle
      font-size 20px

      span
        display block
        margin-bottom 8px
        font-size 16px

        &.big
          font-size 34px

    ul
      padding-left 2em

    .divider
      text-align center

    li
      margin-bottom 0.5em

  .signers

    ul.links
      padding 0

      li
        display inline

        &:not(:last-child):after
          content " •"

        a.line
          font-size 12px
          color $link-color
          padding 1px
          cursor pointer

          &:hover
            background darken(white, 15%)

          i
            font-size 10px
