
/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2014 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */

#toggle

  position fixed
  top 20px
  right 20px

  ul.toggle

    li
      overlay-container()
      padding .4em
      display inline

      &.target
        cursor pointer
